In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv
import yelpapi

In [2]:
census_pd = pd.read_csv("project_data.csv")


# Preview the data
census_pd.head()

,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,...,Service,Office,Construction,Production,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,Alabama,4830620,2341093,2489527,3.751616,61.878656,31.252976,0.453231,1.050255,0.034354,...,18.286638,23.812766,10.229362,17.380511,1712.383573,78.274468,16.264085,5.260085,0.200596,10.686723
1,Alaska,733375,384160,349215,5.909581,60.910180,2.848503,16.391018,5.450299,1.058683,...,17.954217,21.990964,13.470482,11.663253,2102.443114,65.080723,27.586145,7.121687,0.209639,9.268072
2,Arizona,6641928,3299088,3342840,29.565921,57.120000,3.850987,4.355066,2.876579,0.167632,...,20.442442,26.056832,9.813069,9.877096,1843.647444,78.244752,15.364818,6.225149,0.165941,9.469901
3,Arkansas,2958208,1451913,1506295,6.215474,71.137810,18.968759,0.522920,1.142336,0.146861,...,17.985693,23.384088,11.154891,17.531241,1831.021866,76.176204,17.080730,6.535620,0.206423,8.529489
4,California,38421464,19087135,19334329,37.291875,40.215789,5.677396,0.405292,13.052234,0.351410,...,19.192177,23.656127,9.582901,11.403417,2140.543627,77.245901,13.978921,8.592965,0.182876,10.191290

In [3]:
from yelpapi import YelpAPI
yelp_api = YelpAPI('clXvdDssfwpiryl9URikQMy0kRfdf8yZBWqPSc4pk-bdiK52Awc7eAQxakB8rv0c_xlMLyU7Saw_In-8dI6UHvIN2HQC739yByp0AV_VMiltc8yIKzLnzlYMUV_aW3Yx')


def price_rating(state): 

    results = []
    states = []
    prices = []
    cuisines = []
    ratings = []
    totalreviews = []
    search_results = yelp_api.search_query(term="restaurant", location=state, limit=50, sort_by="review_count")
    for business in search_results['businesses']:
        
        try:
            price = business['price']
        except KeyError:
            price = "n/a"
        try:    
            rating= business['rating']
        except KeyError:
            rating = "n/a"
            
        try:
            cuisine=business["categories"][0]['alias']
        except KeyError:
            cuisine = "n/a"
            
        try:
            state=business["location"]['state']
        except KeyError:
            state="n/a"
        try:    
            reviews=business['review_count']
        except KeyError:
            reviews="n/a"
            
        states.append(state)
        prices.append(price)
        ratings.append(rating)
        cuisines.append(cuisine)
        totalreviews.append(reviews)
        
    food_df = pd.DataFrame({'States': states, 'Prices': prices, 'Ratings': ratings, 'Cuisines': cuisines, 'Reviews': totalreviews})
        
    return food_df
all_food_data = pd.DataFrame()

    
for state in census_pd['State']:
    all_food_data=pd.concat([all_food_data, price_rating(state)])

all_food_data

   States Prices  Ratings          Cuisines  Reviews
0      AL     $$      4.5               bbq    620.0
1      AL     $$      4.5           mexican    480.0
2      AL     $$      4.5               bbq    459.0
3      AL     $$      4.5      cocktailbars    448.0
4      AL     $$      4.0             latin    433.0
5      AL     $$      4.0           burgers    403.0
6      AL     $$      4.5          southern    347.0
7      AL      $      4.0           burgers    339.0
8      AL     $$      3.5               bbq    322.0
9      AL    $$$      3.5             cajun    318.0
10     AL      $      4.5             cafes    318.0
11     AL     $$      4.0  breakfast_brunch    316.0
12     AL     $$      4.0             pizza    315.0
13     AL     $$      3.5           mexican    310.0
14     AL     $$      4.0           italian    305.0
15     AL     $$      4.0               bbq    304.0
16     AL     $$      3.5           tex-mex    297.0
17     AL     $$      4.0            diners    280.0
18     AL     $$      4.5            french    278.0
19     AL      $      4.0           grocery    278.0
20     AL     $$      4.0              bars    278.0
21     AL     $$      4.0              pubs    277.0
22     AL     $$      3.5           seafood    277.0
23     AL     $$      4.5       newamerican    271.0
24     AL     $$      4.0             pizza    270.0
25     AL     $$      4.0  breakfast_brunch    267.0
26     AL     $$      4.0       newamerican    257.0
27     AL     $$      2.5        gastropubs    255.0
28     AL     $$      4.0              bars    252.0
29     AL     $$      3.5          southern    248.0
..    ...    ...      ...               ...      ...
27     WI      $      4.5          hawaiian    400.0
28     WI     $$      3.5  breakfast_brunch    394.0
29     WI     $$      4.0            diners    394.0
30     WI     $$      4.5  breakfast_brunch    388.0
31     WI     $$      4.0           spanish    388.0
32     WI     $$      3.5              bars    388.0
33     WI     $$      4.0        gastropubs    384.0
34     WI     $$      4.0  breakfast_brunch    377.0
35     WI     $$      3.5         breweries    377.0
36     WI    $$$      3.5            german    371.0
37     WI     $$      3.5              bars    361.0
38     WI     $$      4.0       newamerican    356.0
39     WI     $$      3.5             sushi    353.0
40     WI     $$      3.5           burgers    345.0
41     WI     $$      4.5              bars    345.0
42     WI     $$      3.5           belgian    345.0
43     WI     $$      3.5              bars    338.0
44     WI      $      3.5           mexican    336.0
45     WI     $$      3.5           belgian    335.0
46     WI     $$      4.5           grocery    331.0
47     WI    $$$      4.0             steak    320.0
48     WI     $$      4.0         wine_bars    320.0
49     WI     $$      3.5        mideastern    312.0
0      WY     $$      5.0          icecream      6.0
1      WY      $      4.0      tradamerican      6.0
2      WY    n/a      5.0      tradamerican      4.0
3     WSX    n/a      5.0           british      1.0
4      WY    n/a      5.0      tradamerican      1.0
5     ANT    n/a      4.0       restaurants      1.0
6      WY    n/a      5.0       newamerican      1.0

[2507 rows x 5 columns]

In [8]:
#maria
sum_by_state = all_food_data.groupby("States").sum()["Reviews"]
sum_by_state

States
AK      17480.0
AL      14256.0
ANT         1.0
AR       9070.0
AZ      71514.0
CA      30178.0
CO      65391.0
CT       6152.0
DC      90980.0
DE       8408.0
GA      67566.0
HI      94504.0
IA      10841.0
ID      14349.0
IL     146600.0
IN      29932.0
KS      15240.0
KY      23051.0
LA     104089.0
MA      80757.0
MD      40227.0
ME      25212.0
MI      33470.0
MN      35260.0
MO      24394.0
MS       7564.0
MT       4964.0
NC      33282.0
ND       4529.0
NE      15493.0
NH      10009.0
NJ      13500.0
NM      23200.0
NV     158964.0
NY     188614.0
OH      27432.0
OK      18617.0
OR      84840.0
PA      74896.0
PR      24124.0
RI      25456.0
SC      11600.0
SD       4330.0
TN      24806.0
TX      63924.0
UT      36714.0
VA      27271.0
VT      13131.0
WA      11342.0
WI      24412.0
WSX         1.0
WV       4464.0
WY         18.0
Name: Reviews, dtype: float64

In [ ]:
#maria
sum_by_gender = all_food_data.groupby("States").sum()["Reviews"]
count_by_state

In [ ]:
#maria
census_pd